<div class="mx-2 my-2">
    <div class="columns is-multiline is-mobile is-centered mx-0">
      <a routerLink = "/pagar" class="button is-warning column is-6 mb-1"> Pagar </a>
      <a routerLink = "/receber" class="button is-success column is-6 mb-1"> Receber </a>
      <a routerLink = "/pagar-parcelado" class="button button is-warning column is-6"> Pagar Parcelado </a>
      <a routerLink = "/receber-parcelado" class="button is-success column is-6"> Receber Parcelado </a>
    </div>
    
    <h3 class="has-text-centered"><b>Títulos Agendados</b></h3>

    <div *ngFor="let titulo of titulos; index as i" [ngClass]="i  % 2 == 0 ? 'listrado' : ''">
      <h3 class="is-12">{{ titulo.descricao }}</h3>
      <div class="columns is-mobile" >
        <span class="column has-text-left">{{titulo.vencimento | date:"dd/MM/yyyy"}}</span>
        <span class="column has-text-centered">{{titulo.operacao}}</span>
        <span class="column has-text-right">{{titulo.valor}}</span>
      </div>
    </div>
  </div>

